@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
body{
    background-color: #fff;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.parent-home{
    background-image: url(./Asset/img/hike.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@layer base{
    .nav-items{
        @apply text-xl md:text-lg font-thin
    }
    /* .box{
        @apply w-[50rem] h-24  rounded-br-[2.5rem] rounded-bl-[2.5rem]   bg-white outline-8
    }

    .box::after::after{
        content: '';
       
        @apply w-[40rem] block left-[25%] right-[25%] absolute top-20 h-24 rounded-br-[2.5rem] rounded-bl-[2.5rem]   bg-red-500 outline-8
    
    }
    .box::before{
        content: '';
 
        @apply w-[30rem] block left-[31%] right-[50%] absolute top-40 h-24 rounded-br-[2.5rem] rounded-bl-[2.5rem]   bg-white z-50 outline-8
    
    } */
     /* .box-2::after{
        content: '';
        @apply hidden sm:block  w-[3rem] h-10 rounded-br-[100rem] rounded-bl-[4rem]  bg-white absolute -right-3 -top-2
     }
     .box-2::before{
        content: '';
        @apply hidden sm:block  w-[3rem] h-10 rounded-bl-[100rem]   rounded-tl-[4rem]   bg-white  absolute -left-3 -top-2
     }

     .box-3::after{
        content: '';
        @apply hidden sm:block  w-[3rem] h-10 rounded-br-[100rem] rounded-bl-[4rem]  bg-white  absolute -right-3 -top-2
     }
     .box-3::before{
        content: '';
        @apply hidden sm:block w-[3rem] h-10 rounded-bl-[100rem]   rounded-tl-[4rem]   bg-white  absolute -left-3 -top-2
     } */
     .box-1,.box-2,.box-3{
        @apply overflow-x-hidden
     }
.hike{
    background: linear-gradient(to right, #00020f, 
      #d12a00); 
-webkit-text-fill-color: transparent; 
-webkit-background-clip: text;
}
.service{
    /* background-image: url('./Asset/img/wave\(1\).svg'); */
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #d8d8d8;
}
.contact-info div{
    @apply flex  gap-7 
}
.contact-info div p:nth-of-type(2){
    @apply flex flex-col gap-2 justify-center
}
.contact-info div p:nth-of-type(1){
    @apply bg-black text-white w-[2.5rem] h-[2.5rem] rounded-full flex items-center justify-center text-xl
}
.contact-info div p:nth-of-type(2) span:nth-of-type(1){
    @apply text-xl font-bold
}
.contact-info div p:nth-of-type(2) span:nth-of-type(2){
    @apply text-lg font-thin
}
.follows div span{
    @apply bg-black text-white w-[2.5rem] h-[2.5rem] rounded-full flex items-center justify-center text-xl

}
   }